:root {
    --primary-color: #0f2331;
    --secondary-color: #d4af37;
    --light-color: #84d2c5;
}



body {
    background-color: var(--primary-color);
}

/* FAQ SECTION */

.faq h1 {
    text-align: center;
    margin-top: 80px;
}



.faq p {
    text-align: center;
}

.faq .p {
    margin-bottom: 40px;
}

.faq-item .boxes {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.7s, transform 0.7s;
}

.faq-item .boxes:hover {
    background-color: var(--secondary-color);
    transform: scale(1.2s);
}

.faq-item h5 {
    font-size: 16px;
}

 .faq .carded {
    color: #fff;
    border: 2px solid var(--secondary-color);
    padding: 15px;
    display: none;
    margin-bottom: 10px;
}

.active .carded {
    display: block;
}

.faq .carded p {
    text-align: justify;
    font-weight: 400;
}



/* FAST AND RELIAABLE */
.fastAndReliable .box {
    background-color: #fff;
}